// LAYOUT
// -----------------

*
  box-sizing: border-box

html, body
  position: relative
  +square(100%)

body
  background-color: $secondary
  +font($white, $sansSerif, 100%)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.main
  +square(100%)
