// LAYOUT
// -----------------

*
  box-sizing: border-box

html, body
  position: relative
  +square(100%)

body
  background-color: $secondary
  +font($white, $sansSerif, 100%)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.main
  +square(100%)

// Section header
.header
  +position(fixed, 0, null, null, 0)
  display: table
  +square(100%)
  padding: 0 $column

.header-content
  position: relative
  display: table-cell
  vertical-align: middle
  z-index: $zTop

// Section
.section
  position: relative
  margin-top: 100vh
  z-index: $zTop

.section-content
  position: relative
  z-index: $zTop
