// LAYOUT
// -----------------

*
  box-sizing: border-box

html, body
  position: relative
  +square(100%)

body
  background-color: $secondary
  +font($sansSerif, 100%, null, null, null, $white)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.main
  position: relative
  +square(100%)
  overflow: hidden

.view
  +position(absolute, 0, null, null, 0)
  width: 100vw
  height: 100vh
  background-color: $secondary
  overflow: auto
  z-index: $zTop
  -webkit-overflow-scrolling: touch

  &.lhs
    transform: translateX(calc(-100% + 15px))

  &.rhs
    transform: translateX(calc(100% - 15px))

// Section header
.header
  position: relative
  display: table
  +size(100vw, 100vh)
  padding: 100px $column

  +max-screen($medium)
    z-index: $zTop + 1

  +max-screen($small)
    padding: $header + $extGapSmall $extGapSmall 100px

  +min-screen($medium + 1px)
    +position(fixed, 0, null, null, 0)

.header-content
  position: relative
  display: table-cell
  vertical-align: middle
  z-index: $zTop

  .lhs &
    left: -100px

  .rhs &
    left: 100px

.header-link
  width: 100%
  margin-top: $extGapSmall

// Section
.section
  position: relative
  z-index: $zTop

  +min-screen($medium + 1px)
    margin-top: 100vh

.section-content
  position: relative
  z-index: $zTop

// Scrolling animation
.no-touchevents
  @for $i from 1 through 6
    .y-push#{$i}
      transform: translateY($i * 90px)

    .m-push#{$i}
      margin-top: $i * 30px
