// LOADER
// -----------------

// Wrappers
.loader-wrapper
  +position(fixed, 0, null, null, null)
  display: table
  +square(100%)
  z-index: $zXTop

.loader-panel
  +position(absolute, 0)
  +size(50%, 100%)
  background-color: $secondary

  &.left
    left: 0

  &.right
    right: 0
    border-left: 1px solid $secondaryDark

// Circle
.loader-circle-wrapper
  position: relative
  display: table-cell
  text-align: center
  vertical-align: middle

  .shape-logo-head
    +size(131px, 160px)
    +center(both)
    fill: $white
    transform-origin: 50% 50%

.loader-circle
  position: relative
  display: inline-block
  +square(308px)
  border-radius: 50%
  background: linear-gradient(to right, $white 10%, rgba($white, 0) 72%)

  &:after
    content: ''
    +position(absolute, 0, 0, 0, 0)
    +square(97%)
    margin: auto
    background: $secondary
    border-radius: 50%
