// UI
// -----------------

.ui
  +position(fixed, 0, null, null, 0)
  +square(100%)
  pointer-events: none
  z-index: $zXTop

  +min-screen($small + 1px)
    padding: $extGap

.ui-header
  position: relative
  +size(100%, $header)
  padding: 0 $extGapSmall

  .main[data-view="home"]  &
    opacity: 0

// Logo
.logo
  +position(absolute, $extGap)

  &::before, &::after
    content: ""
    display: none
    +position(absolute, 6px)
    +size(20px, 1px)
    background-color: $white
    vertical-align: middle

  .shape-logo
    +size(80px, 14px)

  .main[data-view="home"] &
    display: none

  .main[data-view="what-we-do"] &
    left: $extGap
    padding-left: 36px

    &::before
      display: block
      left: 0

  .main[data-view="talk-to-us"] &
    right: $extGap
    padding-right: 36px

    &::after
      display: block
      right: 0

// Back link
.back-link
  display: inline-block
  +position(absolute, $extGap - 5px)
  +size(43px, 23px)
  overflow: hidden
  pointer-events: auto
  transition: width $transitionDuration $transitionFunction

  .no-touchevents &:hover
    width: 54px

  +max-screen($small)
    top: 29px
    opacity: .6

  +min-screen($small + 1px)
    .main[data-view="home"] &
      display: none

    .main[data-view="what-we-do"] &
      right: $extGap

    .main[data-view="talk-to-us"] &
      left: $extGap

.shape-arrow
  +position(absolute, 5px, 0)
  +size(65px, 13px)

  .main[data-view="talk-to-us"] &
    transform: rotate(180deg)
    right: auto
    left: 0

  +max-screen($small)
    +position(absolute, 4px, auto, null, 0)
    transform: rotate(180deg)

// Nav link
.nav-link
  +position(absolute, 50%)
  display: inline-block
  +size(65px, 130px)
  margin-top: -65px
  pointer-events: auto

  &::before
    content: ""
    +position(absolute, 50%)
    +size(20px, 1px)
    background-color: $white

  &.lhs
    left: 32px

    &::before
      left: 0

  &.rhs
    right: 32px

    &::before
      right: 0

  .main[data-view="what-we-do"] &.lhs
    display: none

  .main[data-view="talk-to-us"] &.rhs
    display: none

.nav-link-copy
  +position(absolute, null, null, 0, 50px)
  display: block
  width: 130px
  +font(null, .875rem, 900)
  letter-spacing: 2px
  text-align: center
  text-transform: uppercase
  transition: letter-spacing $transitionDuration $transitionFunction

  .lhs &
    transform-origin: bottom left
    transform: rotate(-90deg)

  .rhs &
    margin-left: -165px
    transform-origin: bottom right
    transform: rotate(90deg)

  .no-touchevents .nav-link:hover &
    letter-spacing: 3px

.nav-link-small
  +center('horizontal')
  pointer-events: auto

  &::before
    content: ""
    +center('horizontal')
    +size(1px, 24px)
    background-color: $white

  &.top
    top: 64px

    &::before
      top: -40px

  &.bottom
    bottom: 64px

    &::before
      bottom: -40px

  .main[data-view="what-we-do"] &, .main[data-view="talk-to-us"] &
    display: none

// Title
.ui-title
  +position(absolute, 33px, $extGapSmall)
  font-size: 1rem
  letter-spacing: 4px
  opacity: .6
  text-align: right

  .main[data-view="talk-to-us"] &.wwd
    display: none

  .main[data-view="what-we-do"] &.ttu
    display: none
