// HOME
// -----------------

.view[data-view="home"]
  background-color: transparent
  z-index: $zBase

  .scroll-cta
    +center('horizontal')
    top: calc(100vh - 135px)
    margin-top: 0
    pointer-events: auto

// WebGL animation
.webgl-frame
  +position(fixed, 0, null, null, 0)

// Projects section
.projects-container
  min-height: 100vh
  padding: 120px $extGapSmall 0

  +min-screen($xSmall + 1px)
    padding-top: $extGapSmall

  +min-screen($small + 1px)
    padding: $extGapSmall $column 0

// Title
.title-wrapper
  display: flex
  align-items: flex-end
  margin-top: 150px
  margin-bottom: $extGapSmall

.title-icons
  flex-grow: 1
  text-align: right

  .shape
    margin-left: 12px

// Projects grid
.projects-wrapper
  display: flex
  flex-wrap: wrap

// Project card
.project
  display: table
  position: relative
  flex: 0 0 330px
  +size(330px, 410px)
  margin-bottom: $extGapSmall
  padding: $extGapSmall
  border-radius: 25px
  box-shadow: 0 0 38px rgba($black, .18)
  overflow: hidden

.project-overlay
  +position(absolute, 0, 0)
  +square(100%)
  background: linear-gradient(to bottom, rgba($black, .25) 0%, rgba($black, 1) 75%, rgba($black, 1) 100%)

.project-content
  display: table-cell
  position: relative
  vertical-align: bottom

.project-title
  font-size: 1.75rem

.project-lead
  margin-top: 8px

.project-arrow
  +position(absolute, $extGapSmall, $extGapSmall)

// Project rollover animation
.no-touchevents
  .project-overlay
    opacity: 0

  .project-title
    transform: translateY(40px)

  .project-lead
    opacity: 0
    transform: translateY(60px)

  .project-arrow
    opacity: 0
    transform: translateY(10px)
