// TALK TO US
// -----------------

.view[data-view="talk-to-us"]
  .header-content
    font-size: 0

  .scroll-cta
    +center('horizontal')
    bottom: 60px

.character
  width: 100%
  text-align: center

  +max-screen($medium)
    margin-bottom: 100px

  +min-screen($medium + 1px)
    display: inline-block
    width: calc(50% - 1px)

    &.lhs
      padding-right: $column * 1/2
      text-align: right

    &.rhs
      padding-left: $column * 1/2
      text-align: left

.character-content
  display: inline-block
  width: 100%
  text-align: center
  background-repeat: no-repeat
  background-position: center bottom 30px

  +max-screen($xSmall)
    background-size: 100% auto

  +min-screen(450px)
    width: 366px

.character-sprites
  display: inline-block
  +position(relative, 0)
  +size(297px, 490px)

  .sprite
    +position(absolute, 0, null, null, 0)
    +square(100%)
    background-position: 0 0
    background-repeat: no-repeat

  +max-screen($xSmall)
    +size(240px, 396px)

    .character-default
      background-size: 240px 792px

    .character-rollover
      background-size: 960px 1584px

.character-default
  z-index: $zBase + 2

.character-rollover
  z-index: $zBase + 1

.character-blink
  opacity: 0
  z-index: $zBase

.character-email
  display: block
  margin-bottom: 10px
  +font($sansSerif, 1.1875rem, 700)

.character-link
  position: relative
  display: inline-block
  font-size: .9375rem

  &::after
    content: ""
    display: inline-block
    +position(relative, -10px)
    +size(100%, 1px)
    background-color: currentColor

  .no-touchevents &
    &::after
      transform: scale(0)
      transform-origin: left center
      transition: transform $transitionDuration $transitionFunction

    &:hover::after
      transform: scale(1)

.character-anim
  position: relative
  z-index: $zTop

  .no-touchevents &
    opacity: 0
    transform: translateY(-100%)

.touchevents
  .character-default, .character-rollover
    display: none

// Contact
.contact-wrapper
  display: table
  +size(100vw, 100vh)

.contact
  display: table-cell
  padding: 0 $column 0 $column
  text-align: right
  vertical-align: middle

  +min-screen($small + 1px)
    padding-left: $column * 1.5

.contact-link
  margin-left: $column / 2
  transition: color $transitionDuration $transitionFunction

  .no-touchevents &:hover
    color: $primary

  +max-screen($small)
    display: block
    margin-bottom: 10px
    font-size: 1.375rem
