// WHAT WE DO
// -----------------

.main[data-view="what-we-do"]
  .title-separator
    background-color: $accent

.title-complement
  +position(relative, -120px)
  opacity: 0
  transform: translateY(-30px)
