// WHAT WE DO
// -----------------

// Header
.view[data-view="what-we-do"]
  +min-screen($small + 1px)
    .header-content
      padding-right: $column * 2

  +min-max-screen($xSmall + 1px, $medium)
    .section
      margin-top: -$extGap

    .header .grid
      height: calc(100% - #{$extGap})

.title-complement
  position: absolute
  line-height: 1.2
  opacity: 0
  transform: translateY(-140px)
  z-index: $zBase

  +max-screen($small)
    transform: translateY(-50px)

  +max-screen($xSmall)
    transform: translateY(-70px)

  +max-screen($medium)
    transform: translateY(-90px)

// Services
.services-wrapper
  padding: 190px $extGapSmall 0

  +min-screen($small + 1px)
    padding: 190px $column 0

.service
  position: relative
  margin-bottom: 300px

// Higlights (vertical)
.service-highlights
  +position(absolute, 40%, null, null, $column / -2)
  transform-origin: top right
  transform: translateX(-100%) rotate(-90deg) translateX(50%)

.highlights-separator
  display: inline-block
  margin: 0 20px
  +size(40px, 1px)
  background-color: $white
  vertical-align: middle

// Image block
.service-image
  position: relative
  width: 100%
  text-align: center
  z-index: $zBase

  +min-screen($medium + 1px)
    +position(absolute, -52px, null, null, 0)
    width: $column * 3

    .service.lhs &
      left: $column * 2.5
      width: $column * 3.5

    .service[data-service="digital-products"] &
      top: -150px

  img
    position: relative
    +size(100%, auto)
    max-width: 100%

  .service[data-service="game-design"] & img
    max-width: 513px
    box-shadow: 0 0 34px 4px rgba($black, .35)

  .service[data-service="virtual-reality"] &
    max-width: 604px

  .service[data-service="digital-products"] &
    max-width: 404px

.circle
  +position(absolute, -50px, null, null, 40px)
  width: calc(100% - 80px)
  +aspect-ratio(1, 1)

  &::before
    background-color: $accent
    border-radius: 50%

  .service[data-service="game-design"] &
    +position(absolute, -50px, null, null, 40px)

  .service[data-service="virtual-reality"] &
    +center('horizontal')
    top: -50px

  .service[data-service="digital-products"] &
    +center('horizontal')
    top: 20px
    width: 120%

// Description
.service-description
  position: relative
  padding-top: 40px

  +min-screen($medium + 1px)
    width: $column * 2
    min-width: 310px
    padding-top: 80px

    .service.rhs &
      margin-left: $column * 3.5

// Title
.service-title
  font-size: 3.5rem
  z-index: $zTop

  +min-screen($medium + 1px)
    +position(absolute, 0)
    width: $column * 6
    font-size: 5rem
    letter-spacing: 2px

    .service.rhs &
      right: 0
      text-align: right

    .service.lhs &
      left: 0

// Separator (with icon)
.service-icon
  position: relative
  margin-bottom: 15px

  &::before
    content: ""
    display: inline-block
    +size($column, 2px)
    margin: 8px 12px 0 0
    background-color: $white
    vertical-align: top

  +max-screen($medium)
    &::before
      width: calc(100% - 65px)

.shape-gamepad
  +size(41px, 19px)

.shape-vr-gear
  +size(35px, 21px)

.shape-atom
  +square(29px)

// Lead
.service-lead
  margin-bottom: 15px
  +font(null, 1.1875rem, null, null, 1.2)

// List
.service-list
  margin-top: 20px
  padding-top: 20px
  border-top: 1px solid rgba($white, .5)
  font-size: 0
  list-style-type: none

  li
    margin-bottom: 10px

    &:before
      content: "\2013"
      margin-right: 12px

  +min-screen($small + 1px)
    li
      display: inline-block
      width: calc(50% - 1px)
      vertical-align: top

    .service[data-service="game-design"] &
      li:nth-child(odd)
        width: calc(45% - 1px)

      li:nth-child(even)
        width: calc(55% - 1px)

// Work
.work-wrapper
  position: relative
  padding: 0 $extGapSmall 100px

  +min-screen($small + 1px)
    padding: 0 $column 100px

.floating-letter
  +position(absolute, -200px, $column * 3/4)
  display: inline-block
  +size(253px, 260px)

  +max-screen($small)
    top: -180px

  +min-screen($medium + 1px)
    top: -84px
    +size(618px, 742px)

.work-wrapper-title
  margin-bottom: 75px

.work
  position: relative
  +size(100%, 270px)
  margin-bottom: 25px
  padding-top: 80px
  box-shadow: 0 0 34px 4px rgba($black, .2)
  overflow: hidden
  text-align: center

  +min-screen($small + 1px)
    height: 235px
    padding-top: 110px

.work-bg
  +position(absolute, 0, null, null, 0)
  +size(100%, 270px)
  background-position: center top
  background-repeat: no-repeat
  background-size: cover

  +min-screen($small + 1px)
    height: 410px

.work-content
  display: inline-block
  padding-bottom: 30px
  overflow: hidden

.work-title
  font-size: 1.25rem
  line-height: 1
  letter-spacing: 2px

  +min-screen($xSmall + 1px)
    font-size: 1.5625rem

  +min-screen($small + 1px)
    font-size: 2.5rem

.work-lead
  position: relative
  display: inline-block
  margin: 15px 0 20px
  font-size: 1.125rem

  &::before, &::after
    content: ""
    +position(absolute, 10px)
    +size(100%, 1px)
    background-color: $white

  &::before
    left: -15px
    transform: translateX(-100%)

  &::after
    right: -15px
    transform: translateX(100%)

.work-ctas
  font-size: 0

  .btn + .btn
    margin-left: 12px

// Work rollover animation
.no-touchevents
  .work-anim
    opacity: 0
    transform: translateY(-60px)

.touchevents
  .work
    height: 270px
    padding-top: 80px

  .work-bg
    height: 270px

  +min-screen($small + 1px)
    .work
      height: 410px
      padding-top: 140px

    .work-bg
      height: 410px

// Footer
.footer
  position: relative
  padding: 40px $column 160px
  font-size: 0
  z-index: $zXTop

.footer-cell
  display: inline-block
  width: calc(50% - 1px)
  vertical-align: middle

  &:last-child
    text-align: right

.footer-social
  display: inline-block
  margin-right: 20px
  vertical-align: middle

.shape-behance
  +size(36px, 22px)

  +min-screen($small + 1px)
    +size(25px, 16px)

.shape-facebook
  +size(13px, 27px)

  +min-screen($small + 1px)
    +size(10px, 18px)

.copyright
  +font($sansSerif, 1.1875rem, 400)

  +min-screen($small + 1px)
    font-size: .875rem

// Scrolling animation
@for $i from 1 through 6
  .y-push#{$i}
    transform: translateY($i * 60px)
