// TYPOGRAPHY
// -----------------

a
  text-decoration: none

.copy
  +font($sansSerif, .875rem, 300, normal, 1.6)

  .is-mac &
    -webkit-font-smoothing: subpixel-antialiased

  +max-screen($small)
    font-size: 1rem

// Headings
.title
  position: relative
  +font($sansSerif, 7vw, 900, null, .9)
  text-transform: uppercase
  z-index: $zTop

  +max-screen($small)
    font-size: 3rem
    line-height: .8
    letter-spacing: -1px

  +max-screen($xSmall)
    font-size: 2.75rem

.title-separator
  display: inline-block
  +size($column, 3px)
  min-width: 84px
  margin: 40px 0 50px

  +max-screen($medium)
    margin: 24px 0 25px

  +max-screen($xSmall)
    margin: 20px 0

.lead
  +font($serif, 1.1875rem, 500, italic, 1.3)

// Buttons
.btn
  position: relative
  display: inline-block
  width: calc(50% - 6px)
  padding: 14px 0 12px
  background-color: $secondary
  +font($serif, .875rem, 500, italic)
  text-transform: uppercase

  &.large
    width: 100%

  +max-screen($small)
    padding: 12px 0 8px
    +font(null, .75rem, null, null)

.btn-border
  display: inline-block
  padding: 20px 24px 16px
  border: 1px solid $white
  font-size: 1rem
  letter-spacing: 3px
  text-align: center

  +max-screen($xSmall)
    font-size: .875rem

// CTAs
.scroll-cta
  position: relative
  display: inline-block
  +size(42px, 75px)
  margin-top: 40px
  transition: color $transitionDuration $transitionFunction
  z-index: $zTop

  +max-screen($medium)
    +center('horizontal')
    bottom: -68px
    +square(44px)
    background-color: $white
    border-radius: 50%
    color: $accent

    .shape-chevron
      +size(11px, 7px)
      margin-top: 8px

// Rollover animation V1
.scroll-cta.anim1
  &::before
    content: ""
    +position(absolute, null, null, 0, 0)
    +square(43px)
    background-color: $white
    border-radius: 50%
    transform: scale(0)
    transition: transform $transitionDuration $transitionFunction

  svg
    position: relative
    z-index: $zTop + 1

  .no-touchevents &:hover
    color: $accent

    &::before
      transform: scale(1)

// Rollover animation V2
.scroll-circle
  display: inline-block
  +position(absolute, null, null, 0, 0)
  +square(43px)
  border-radius: 50%
  overflow: hidden
  z-index: 0

.scroll-bg
  +position(absolute, null, null, 0, 0)
  display: inline-block
  +square(43px)
  background-color: $white
  transform: translateY(-100%)
  transition: transform $transitionDuration $transitionFunction

.scroll-cta.anim2
  svg
    position: relative
    z-index: $zTop + 1

  .no-touchevents &:hover
    color: $accent

    .scroll-bg
      transform: translateY(0)

// SVGs
svg
  +square(100%)
  fill: currentColor

// Flipped
.flipped
  display: inline-block
  transform: scaleX(-1)
  filter: FlipH
